#language=en
#timezone=UTC

#start.minimized=false
#minimize.tray=false
#confirm.close=false
#search.on.start=false

#map.resize.hq=true
#map.cache.size=20
#magnitude.big=5.0
#magnitude.xxl=6.0

#http.connection.timeout.ms=20000
#http.read.timeout.ms=20000
#proxy.enabled=false
#proxy.type=HTTP
#proxy.address=10.0.0.1
#proxy.port=8080
#proxy.auth.required=false
#proxy.username=
#proxy.password=
#url.base=http://geofon.gfz-potsdam.de

#criteria.period.from=
#criteria.period.to=
#criteria.latitude.from=
#criteria.latitude.to=
#criteria.longitude.from=
#criteria.longitude.to=
#criteria.magnitude=
#criteria.restrict=false
#criteria.limit=
#criteria.format=RSS
#autorefresh.mins=
#autorefresh.enabled=false
