name: Java CI

on: [push]

jobs:
  build:
 
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Ant
      run:
        ant -diagnostics
        
        ant -noinput -buildfile build.xml
