name: Build

on: push

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21', '25' ]
        os: [ windows-latest, ubuntu-latest, macOS-latest ]
    runs-on: ${{ matrix.os }}
    env:
      MAVEN_OPTS: -Dhttp.keepAlive=false
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: ${{ matrix.java }}
    - if: contains(matrix.os, 'ubuntu')
      name: Install dependencies
      run: |
        sudo dpkg --add-architecture i386 && sudo apt-get update
        sudo mkdir -pm755 /etc/apt/keyrings
        sudo wget -O /etc/apt/keyrings/winehq-archive.key https://dl.winehq.org/wine-builds/winehq.key
        sudo wget -NP /etc/apt/sources.list.d/ https://dl.winehq.org/wine-builds/ubuntu/dists/noble/winehq-noble.sources
        sudo apt-get update && sudo apt-get install -y --install-recommends wine-devel-i386:i386 winehq-stable
    - uses: actions/cache@v5
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - run: ./mvnw clean verify -B -V -e -ntp
